.grid-layout {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.grid-wrapper {
  width: 100%;
  height: 30rem;
}

.floating-button {
  position: absolute;
  right: 4rem;
  transform: translateY(1rem);
}
